*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

.blog-section > .section-title{
   text-align: center;
   margin-bottom: 20px;
   letter-spacing: 3px;
   padding-top: 120px;
}

.blog-section > .title-underline{
   width: 100px;
   height: 5px;
   margin: auto;
   background: linear-gradient(90deg, rgba(241,90,35,1) 0%, rgba(250,169,18,1) 100%);
 
}

.blog-section > .section-info{
   width: 800px;
   margin: auto;
   margin-top: 20px;
   text-align: center;
   letter-spacing: 1px;
}

.blog-section > .section-img-container{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.blog-section > .section-img-container .img-container {
   position: relative;
   width: 300px;
   height: 300px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 480px;
   padding: 5px;
}

.blog-section > .section-img-container .first-img{    
   background-image: url(../slike/starbucks.jpg.jpg);
}
.blog-section > .section-img-container .second-img{    
   background-image: url(../slike/finansije.jpg.jpg);
}
.blog-section > .section-img-container .third-img{    
   background-image: url(../slike/pride.jpg.jpg);
}

.date-box{
   position: absolute;
   top: 0;
   right: 0;
   width: 60px;
   height: 80px;
   padding-top: 20px;
   line-height: 30px;
   text-align: center;
   font-size: 20px;
   color: white;
   background-color: rgba(241,90,35,1);
}

.section-img-container{
   margin-top: 25px;
}

.title-link-contianer{
   text-align: center;
   margin-top: 25px;
}

.title-link-contianer > h3{
   font-size: 14px;
   letter-spacing: 2px;
   margin-bottom: 8px;
}

.title-link-contianer > h4{
   font-size: 12px;
   letter-spacing: 2px;
   color: silver;
}

.title-link-contianer > a{
   font-size: 11px;
   letter-spacing: 1px;
   color: rgba(241,90,35,1);
   text-decoration: none;
}

.title-link-contianer > a > .arrow{
   width: 10px;
   height: 1px;
   background-color: rgba(241,90,35,1);
   display: inline-block;
   margin-bottom: 2px;
   position: relative;
}

.title-link-contianer > a > .arrow::after{
   content: "";
   width: 5px;
   height: 5px;
   border: 1px solid rgba(241,90,35,1);
   border-left: none;
   border-bottom: none;
   transform: rotateZ(45deg);
   position: absolute;
   top: -2.3px;
   left: 3px;
}